.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.header__title {
  font-weight: 600;
  font-size: 25px;
}
.header__icon i {
  padding-left: 10px;
  font-size: 19px;
}
